@import '@/assets/globals.scss';

@include media-breakpoint-up(md) {
    .card {
        margin-right: $spacer * .5; //-- .me-2 in Bootstrap scale.
        flex-shrink: 0;
        width: 350px;
    }
}