@import '@/assets/globals.scss';

.quantityInput {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0
    }

    -moz-appearance: textfield;
    appearance: textfield;
}

.quantityAndPriceContainer {
    background-color: $highlight-blue;
}

.yourPrice {
    color: $cyan;
}